{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
</p>
<h3>Что помогало мне в работе над проектом?</h3>
<h5>Топ:</h5>
<aside class="col-12 col-md-3">
    <ol class="list-group list-group-flush">
      <li class="list-group-item">
        Латте из яндекс лавки "Банан-карамель"
      </li>
      <li class="list-group-item">
        Каналы в "Пачке"
      </li>
      <li class="list-group-item">
        Треки группы RussianVillageBoys
      </li>
      <li class="list-group-item">
        Механическая клавиатура
      </li>
      <li class="list-group-item">
        Метод Рунге-Кутты 4-го порядка
      </li>
      <li class="list-group-item">
        Интерполирование многочленов сплайнами
      </li>
    </ol>
  </aside>
<p><a href="https://vk.com/running.cobam">Ссылочка на меня в ВК</a></p>
<p><a href="https://github.com/keyayeten?tab=repositories">Мой гит</a></p>
<p>Страница еще в процессе доработки, как и раздел tech. Пока только - ирония)</p>
{% endblock %} 