{% extends 'base.html' %}
{% block title %}
    <title>{{ group.title }}</title>
{% endblock %}
{% block content %}
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <h1>{{ group.title }}</h1>
        <p>
          {{ group.description }}
        </p>
        <article>
          {% for post in page_obj %}
          <ul>
            <li>
              <a href="{% url 'posts:profile' post.author %}">Автор: {{ post.author.get_full_name }}</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text }}</p>
          <p><a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a></p>
          {% if post.group %}
            <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
          {% endif %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        </article>
        <!-- под последним постом нет линии -->
      </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
